<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <form action="" mrthod="GET">
            <label for="SSID">SSID:</label>
            <input type="text" id="SSID" name="SSID"><br><br>
            <label for="Password">Password:</label>
            <input type="Password" id="Password" name="Password"><br><br>

            <input type="submit" value="Submit"><br><br><br>
        </form>



        <form action="" method="GET">
            <label for="relay">Relay Time</label>

            <select id="relay" name="relay">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <input type="submit" value="Submit"><br><br><br>
        </form>



        <form action="" method="GET">
            <label for="lname">ServerIP:</label>
            <input type="text" id="ServerIP" name="ServerIP"><br><br>
            <input type="submit" value="Submit"><br>
        </form>
        
    </body>
</html>